In [48]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

from sklearn.datasets import load_boston
from sklearn.preprocessing import MinMaxScaler

from sklearn.preprocessing import PolynomialFeatures

from sklearn.linear_model import Ridge

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

from sklearn.datasets import load_breast_cancer
from sklearn.feature_selection import SelectPercentile

from sklearn.feature_selection import  SelectFromModel

from sklearn.feature_selection import RFE

In [2]:
df=pd.read_csv("adult.csv", header=None, index_col=False,names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
'marital-status', 'occupation', 'relationship', 'race', 'gender','capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
'income'])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df = df[['age', 'workclass', 'education', 'gender', 'hours-per-week','occupation', 'income']]
df.head()

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [4]:
df.gender.value_counts()

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [5]:
df.columns

Index(['age', 'workclass', 'education', 'gender', 'hours-per-week',
       'occupation', 'income'],
      dtype='object')

In [6]:
df_dummies=pd.get_dummies(df)

In [7]:
df_dummies.columns

Index(['age', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov',
       'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th',
       'education_ 11th', 'education_ 12th', 'education_ 1st-4th',
       'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th',
       'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors',
       'education_ Doctorate', 'education_ HS-grad', 'education_ Masters',
       'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'gender_ Female', 'gender_ Male',
       'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces',
       'occupation_ Craft-repair', 'occupation_ Exec-managerial',
       'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners',
       'occupation_ Machine-op-inspct', 'occupation_ Other-service',
       'occupation_ Priv-house-serv', 'occupation_ Prof-specialty',
       'occupation_ Protective-serv', 'occupation_ Sales',
       'occupation_ Tech-support', 'occupation_ Transport-moving',
       'income_ <=50K', 'income_ >50K'],
      dtype='object')

In [8]:
df_dummies.head()

,age,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,income_ <=50K,income_ >50K
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [9]:
#neden doğrudan yukaridaki dataframe i kullanmadı anlamış değilim doğrusu :S

features=df_dummies.loc[:,"age":"occupation_ Transport-moving"]

X=features.values
y=df_dummies["income_ >50K"].values

X.shape, y.shape

((32561, 44), (32561,))

In [10]:
df_test=pd.DataFrame(X)
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,38,40,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,53,40,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [11]:
X_train, X_test, y_train, y_test=train_test_split(X,y, random_state=0)

In [12]:
logreg=LogisticRegression()
logreg.fit(X_train,y_train)

logreg.score(X_train, y_train), logreg.score(X_test, y_test)

C:\Users\emre\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

(0.8138001638001638, 0.8087458543176514)

In [13]:
"""
In this example, we called get_dummies on a DataFrame containing both the training and the test data. This is important to ensure categorical
values are represented in the same way in the training set and the test set.

Imagine we have the training and test sets in two different Data Frames. If the "Private Employee" value for the workclass feature
does not appear in the test set, pandas will assume there are only three possible values for this feature and will create only three new
dummy features. Now our training and test sets have different numbers of features, and we can’t apply the model we learned on
the training set to the test set anymore. Even worse, imagine the workclass feature has the values "Government Employee" and
"Private Employee" in the training set, and "Self Employed" and "Self Employed Incorporated" in the test set. In both cases,
pandas will create two new dummy features, so the encoded Data Frames will have the same number of features. However, the two
dummy features have entirely different meanings in the training and test sets. The column that means "Government Employee" for
the training set would encode "Self Employed" for the test set. 

If we built a machine learning model on this data it would work very badly, because it would assume the columns mean the same
things (because they are in the same position) when in fact they mean very different things. To fix this, either call get_dummies on a
DataFrame that contains both the training and the test data points, or make sure that the column names are the same for the training
and test sets after calling get_dummies, to ensure they have the same semantics.
"""

'\nIn this example, we called get_dummies on a DataFrame containing both the training and the test data. This is important to ensure categorical\nvalues are represented in the same way in the training set and the test set.\n\nImagine we have the training and test sets in two different Data Frames. If the "Private Employee" value for the workclass feature\ndoes not appear in the test set, pandas will assume there are only three possible values for this feature and will create only three new\ndummy features. Now our training and test sets have different numbers of features, and we can’t apply the model we learned on\nthe training set to the test set anymore. Even worse, imagine the workclass feature has the values "Government Employee" and\n"Private Employee" in the training set, and "Self Employed" and "Self Employed Incorporated" in the test set. In both cases,\npandas will create two new dummy features, so the encoded Data Frames will have the same number of features. However, the two\ndummy features have entirely different meanings in the training and test sets. The column that means "Government Employee" for\nthe training set would encode "Self Employed" for the test set. \n\nIf we built a machine learning model on this data it would work very badly, because it would assume the columns mean the same\nthings (because they are in the same position) when in fact they mean very different things. To fix this, either call get_dummies on a\nDataFrame that contains both the training and the test data points, or make sure that the column names are the same for the training\nand test sets after calling get_dummies, to ensure they have the same semantics.\n'

In [14]:
boston=load_boston()

X_train, X_test, y_train, y_test=train_test_split(boston.data, boston.target,random_state=0)

In [15]:
scaler=MinMaxScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [16]:
poly=PolynomialFeatures(degree=2).fit(X_train_scaled)
X_train_poly=poly.transform(X_train_scaled)
X_test_poly=poly.transform(X_test_scaled)

In [17]:
X_train.shape, X_train_poly.shape

((379, 13), (379, 105))

In [18]:
poly.get_feature_names()

['1',
 'x0',
 'x1',
 'x2',
 'x3',
 'x4',
 'x5',
 'x6',
 'x7',
 'x8',
 'x9',
 'x10',
 'x11',
 'x12',
 'x0^2',
 'x0 x1',
 'x0 x2',
 'x0 x3',
 'x0 x4',
 'x0 x5',
 'x0 x6',
 'x0 x7',
 'x0 x8',
 'x0 x9',
 'x0 x10',
 'x0 x11',
 'x0 x12',
 'x1^2',
 'x1 x2',
 'x1 x3',
 'x1 x4',
 'x1 x5',
 'x1 x6',
 'x1 x7',
 'x1 x8',
 'x1 x9',
 'x1 x10',
 'x1 x11',
 'x1 x12',
 'x2^2',
 'x2 x3',
 'x2 x4',
 'x2 x5',
 'x2 x6',
 'x2 x7',
 'x2 x8',
 'x2 x9',
 'x2 x10',
 'x2 x11',
 'x2 x12',
 'x3^2',
 'x3 x4',
 'x3 x5',
 'x3 x6',
 'x3 x7',
 'x3 x8',
 'x3 x9',
 'x3 x10',
 'x3 x11',
 'x3 x12',
 'x4^2',
 'x4 x5',
 'x4 x6',
 'x4 x7',
 'x4 x8',
 'x4 x9',
 'x4 x10',
 'x4 x11',
 'x4 x12',
 'x5^2',
 'x5 x6',
 'x5 x7',
 'x5 x8',
 'x5 x9',
 'x5 x10',
 'x5 x11',
 'x5 x12',
 'x6^2',
 'x6 x7',
 'x6 x8',
 'x6 x9',
 'x6 x10',
 'x6 x11',
 'x6 x12',
 'x7^2',
 'x7 x8',
 'x7 x9',
 'x7 x10',
 'x7 x11',
 'x7 x12',
 'x8^2',
 'x8 x9',
 'x8 x10',
 'x8 x11',
 'x8 x12',
 'x9^2',
 'x9 x10',
 'x9 x11',
 'x9 x12',
 'x10^2',
 'x10 x11',
 'x10 x12',
 'x11^2',
 'x11 x12',
 'x12^2']

In [20]:
ridge=Ridge().fit(X_train_scaled,y_train)

ridge.score(X_test_scaled,y_test)

0.6214583227921033

In [21]:
ridge=Ridge().fit(X_train_poly,y_train)

ridge.score(X_test_poly,y_test)

0.7534782020980574

In [25]:
rf=RandomForestRegressor(n_estimators=100).fit(X_train_scaled,y_train)

rf.score(X_train_scaled, y_train)

0.9842463916337465

In [26]:
rf=RandomForestRegressor(n_estimators=100).fit(X_train_poly,y_train)

rf.score(X_test_poly, y_test)

0.7700381423022745

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=0)

In [27]:
ridge=Ridge()
ridge.fit(X_train,y_train)

ridge.score(X_test,y_test)

0.626618220461385

In [30]:
X_train_log=np.log(X_train+1)
X_test_log=np.log(X_test+1)

In [32]:
score=Ridge().fit(X_train_log,y_train).score(X_test_log,y_test)
score

0.6709670881521957

In [35]:
cancer=load_breast_cancer()

In [36]:
rng=np.random.RandomState(42)
noise=rng.normal(size=(len(cancer.data),50))

X_w_noise=np.hstack([cancer.data, noise])

In [37]:
X_train, X_test, y_train, y_test=train_test_split(X_w_noise, cancer.target, random_state=0, test_size=0.5)

select=SelectPercentile(percentile=50)
select.fit(X_train, y_train)

X_train_selected=select.transform(X_train)

X_train.shape, X_train_selected.shape

((284, 80), (284, 40))

In [38]:
mask=select.get_support()
print(mask)

[ True  True  True  True  True  True  True  True  True False  True False
  True  True  True  True  True  True False False  True  True  True  True
  True  True  True  True  True  True False False False  True False  True
 False False  True False False False False  True False False  True False
 False  True False  True False False False False False False  True False
  True False False False False  True False  True False False False False
  True  True False  True False False False False]

In [41]:
X_test_selected = select.transform(X_test)
lr = LogisticRegression()
lr.fit(X_train, y_train)
print("Score with all features: {:.3f}".format(lr.score(X_test, y_test)))
lr.fit(X_train_selected, y_train)
print("Score with only selected features: {:.3f}".format(
lr.score(X_test_selected, y_test)))

Score with all features: 0.930
Score with only selected features: 0.940

C:\Users\emre\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\emre\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [44]:
select=SelectFromModel(RandomForestClassifier(n_estimators=100, random_state=42),threshold="median")

In [45]:
select.fit(X_train, y_train)

X_train_l1=select.transform(X_train)

X_train.shape, X_train_l1.shape

((284, 80), (284, 40))

In [46]:
X_test_l1=select.transform(X_test)
score=LogisticRegression().fit(X_train_l1, y_train).score(X_test_l1,y_test)

score

C:\Users\emre\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9508771929824561

In [49]:
select=RFE(RandomForestClassifier(n_estimators=100, random_state=42),n_features_to_select=40)

select.fit(X_train, y_train)
mask = select.get_support()

In [50]:
X_train_rfe=select.transform(X_train)
X_test_rfe=select.transform(X_test)

score=LogisticRegression().fit(X_train_rfe,y_train).score(X_test_rfe,y_test)

score

C:\Users\emre\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9508771929824561